In [19]:
import pandas as pd
from faker import Faker
import random
from random import randint

In [20]:
data=pd.read_csv('MOCK_DATA.csv')

In [21]:
data.head()

  first_name       gender    Country
0     Alaine       Female      China
1   Garfield         Male  Venezuela
2       Gale       Female      Egypt
3       Mair  Genderfluid  Lithuania
4   Theobald         Male    Armenia

In [22]:
data.drop_duplicates(inplace=True)
data.fillna(0, inplace=True)

In [23]:
# Example: Generating new names by combining two existing names
new_names = []
for i in range(len(data)):
    # Randomly select two names from the dataset
    name1, name2 = random.sample(data['first_name'].tolist(), k=2)
    # Combine the two names to create a new name
    new_name = name1[:len(name1)//2] + name2[len(name2)//2:]
    # Add the new name to the list
    new_names.append(new_name)

# Change the genders randomly by sampling from a list of genders
genders = ['Male', 'Female']
new_genders = random.choices(genders, k=len(data))

# Change the countries randomly by sampling from a list of countries
countries = ['USA', 'Canada', 'Mexico', 'France', 'Germany', 'UK', 'Australia', 'Japan','India']
new_countries = random.choices(countries, k=len(data))

# Combine the new data into a new dataframe
new_data = pd.DataFrame({
    'first_name': new_names,
    'gender': new_genders,
    'country': new_countries
})

In [24]:
sampled_data = new_data.sample(n=100, random_state=42)

In [25]:
sampled_data.to_csv('random_generated.csv', index=False)